extends layout

include utils.pug

block content
  div.account-container
    h1 Account

    div.account-form
      form(action='/account/username' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
          label.account-label(for="userName") Username
          input.account-input(type="text" name="userName")
        div
          button.account-button(type="submit") Update Username
    div.account-form
      form(action='/account/password' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
          label.account-label(for="password") Password
          input.account-input(type="password" name="password")
        div
          label.account-label(for="confirmPassword") Confirm Password
          input.account-input(type="password" name="confirmPassword")
        div
          button.account-button(type="submit") Update Password
    div.account-form
      form(action='/account/bio' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          div
            label.account-label(for="bio") Bio
            textarea.account-input(name="bio")
          div
            button.account-button(type="submit") Update Bio
    div.account-form
      form(action='/account/profilepiclink' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
          label.account-label(for="profilePicLink") Profile Image
          input.account-input(type="text" name='profilePicLink')
        div
          button.account-button(type="submit") Update Profile Image

    div.account-form
      form(action='/account/delete' method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        div
          label.account-label(for="deleteAccount") Delete Account
          input(type="checkbox" name="deleteAccount")
        div
          button.account-button(type="submit") Delete Account
