extends layout

//-append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  // script(src="/javascripts/index.js" type="module" defer)

block content
  each show in shows
      a(href=`/shows/${show.id}`).show-card
        div
          img(src=`${show.poster}`).show-card__poster
        .show-card__details
          h2.show-card__title= show.title
          p= `Ketchup Rating: ${show.ketchupAverageRating}`
          p= `Release Date: ${show.releaseDate}`
          p= `Genre: ${show.genre}`
          p= `Plot: ${show.plot}`
