extends layout.pug

include utils.pug

block content
	div(align='center')
		h2= show.title
		img(src=`${show.poster}` alt=`Poster for ${show.title}`)

	form(action=`/shows/${id}/reviews` method='post')
		div(class='form-group')
			input(type='hidden' name='_csrf' value=csrfToken)

			label(for='content') Review Content:
			p
			textarea(id='content' name='content' cols='35' rows='10') #{review.content}


			p
			label(for='userRating') User Ketchup Rating 市 (10 is Best):
			p
			select(name='userRating' id='userRating')
				option(value=none selected disabled hidden) 市 Rate This Show!
				option(value=1) 1 市
				option(value=2) 2 市
				option(value=3) 3 市
				option(value=4) 4 市
				option(value=5) 5 市
				option(value=6) 6 市
				option(value=7) 7 市
				option(value=8) 8 市
				option(value=9) 9 市
				option(value=10) 10 市

		//- input(type='number' id='userRating' name='userRating' value=review.userRating)

		//- +field('Review content:', 'content', review.content, 'textarea')
		//- +field('Ketchup Rating:', 'userRating', review.userRating, 'number')
		p
		div(class='py-4')
			button(type='submit').review-btn Edit Show Review
			p: a(href=`/shows/${id}`).review-btn Cancel
