extends layout

block content

  h1 Watched
  each show in watchedShows
      a(href=`/shows/${show.id}`).show-card
        div
          img(src=`${show.poster}`).show-card__poster
        .show-card__details
          h2.show-card__title= show.title
          p= show.ketchupAverageRating
          p= show.plot

  h1 Want to Watch
  each show in wantToWatchShows
      a(href=`/shows/${show.id}`).show-card
        div
          img(src=`${show.poster}`).show-card__poster
        .show-card__details
          h2.show-card__title= show.title
          p= show.ketchupAverageRating
          p= show.plot

  h1 Reviews
  each review in reviews
    a(href=`/shows/${review.Show.id}`).show-card
      div
        img(src=`${review.Show.poster}`).show-card__poster
      .show-card__details
        h2.show-card__title= review.Show.title
        p= `Ketchup Rating: ${review.Show.ketchupAverageRating}`
        p= `My Rating: ${review.userRating} 🥫`
        p= review.content
