extends layout

block content

  h1 Watched
  each show in watchedShows
      a(href=`/shows/${show.id}`).show-card
        div
          img(src=`${show.poster}`).show-card__poster
        .show-card__details
          h2.show-card__title= show.title
          p= `Ketchup Rating: ${show.ketchupAverageRating}`
          p= `Release Date: ${show.releaseDate}`
          p= `Genre: ${show.genre}`
          p= `Plot: ${show.plot}`
          - if (!reviewedShowIds.includes(show.id))
            form(action=`/shows/${show.id}/reviews` method='get')
              input(type="hidden" name="_csrf" value=csrfToken)
              button(type='submit').review-btn Add Review
          br
          form(action=`/users/${locals.user.id}/remove-watched` method='post')
            input(type="hidden" name="showId" value=show.id)
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type='submit').button__clicked-off Remove

  h1 Want to Watch
  each show in wantToWatchShows
      a(href=`/shows/${show.id}`).show-card
        div
          img(src=`${show.poster}`).show-card__poster
        .show-card__details
          h2.show-card__title= show.title
          p= `Ketchup Rating: ${show.ketchupAverageRating}`
          p= `Release Date: ${show.releaseDate}`
          p= `Genre: ${show.genre}`
          p= `Plot: ${show.plot}`
          form(action=`/users/${locals.user.id}/watched` method='post')
            input(type="hidden" name="showId" value=show.id)
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type='submit').button__clicked-off Watched
          br
          form(action=`/users/${locals.user.id}/remove-want-to-watch` method='post')
            input(type="hidden" name="showId" value=show.id)
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type='submit').button__clicked-off Remove

  h1 Reviews
  each review in reviews
    a(href=`/shows/${review.Show.id}`).show-card
      div
        img(src=`${review.Show.poster}`).show-card__poster
      .show-card__details
        h2.show-card__title= review.Show.title
        p= `My Rating: ${review.userRating}`
        p= `My Review: ${review.content}`
        form(action=`/shows/${review.Show.id}/reviews/${review.id}` method='get')
          button(type='submit').review-btn Edit Review
